<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/sdumi/OneDrive/Desktop/soa-frontend/review/review/src/main/java/com/ubbcluj/review/controller/ReviewController.java"><classes/></test><test verbose="2" preserve-order="true" name="C:/Users/sdumi/OneDrive/Desktop/soa-frontend/review/review/src/main/java/com/ubbcluj/review/domain/Review.java"><classes/></test><test verbose="2" preserve-order="true" name="C:/Users/sdumi/OneDrive/Desktop/soa-frontend/review/review/src/main/java/com/ubbcluj/review/service/ReviewService.java"><classes/></test><test verbose="2" preserve-order="true" name="C:/Users/sdumi/OneDrive/Desktop/soa-frontend/review/review/src/main/java/com/ubbcluj/review/ReviewApplication.java"><classes/></test></suite>